<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ACGDatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ACGDatabase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="ACGDatabaseConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\BOO\Desktop\WAPPCombine1\ACGDatabase.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>-->
    <add name="fString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\BOO\Desktop\WAPPCombine1\f.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>